.top-frame {
  width: 100%;
  height: 370px;
  background-image: url("../../../assets/front-img/TopBarImg.png");
  background-attachment: fixed;
  background-position: top;
}

.top-frame-bar {
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 30%);
  position: fixed;
}

.top-frame-title {
  padding-top: 150px;
  text-align: center;
}

.top-frame-title span {
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.content-frame {
  width: 100%;
  min-height: 1000px;
  background-image: url("../../../assets/front-img/BackgroundFrontImg.png");
  background-size: cover;
}

.top-frame-bar-items {
  padding-left: 300px;
}

.top-frame-bar-items div {
  float: left;
  line-height: 30px;
  margin-left: 40px;
  font-size: 15px;
  color: whitesmoke;
  cursor: pointer;
}

.top-frame-bar-items div:hover {
  color: orange;
}

.container-frame {

}
