.img {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // // left: 50%;
  // transform: translateX(-25%);
  // background-image: url('../../../assets/background_img.jpg');
  // background-repeat: no-repeat;
}

.back {
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left_sider {
  width: 240px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  box-shadow: 5px 5px 5px #888888;
  // border: black solid;
}

.particle_point {
  cursor: pointer;
}

.title_login_back_btn_div {
  text-align: left;
  margin-top: 15px;
  padding-bottom: 15px;
  user-select: none;
  cursor: pointer;
  border-bottom:
    #d6d6d6 solid 1px;
}

.title_login_back_btn_div_inner {
  margin-left: 20px;
  text-align: left;
}

.title_login_back_btn {
  font-size: 20px;
  user-select: none;
}

.title_login_back_btn_div:hover {
  color: orange;
}

.title_font_size {
  margin-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.title_login_back_btn_div_inner:hover {
  color: orange;
}

.bottom_img {
  width: 240px;
  height: 320px;
  position: fixed;
  // position: relative;
  // top: 355px;
  bottom: -63px;
  // top: 45%;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.center_box {
  width: 400px;
  height: 473px;
  position: absolute;
  background-color: white;
  left: 50%;
  transform: translateX(-25%);
  top: 14%;
  box-shadow: 0 0px 0 #e5e5e5, 0 0 15px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .05);
  border-radius: 20px;
}

.card_heading {
  margin-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 25px;
  line-height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.center_box_inner_box {
  width: 300px;
  margin: 80px auto 0px auto;
}

.center_box_inner_username,
.center_box_inner_password,
.center_box_inner_verification {
  margin-top: 30px;
}

.center_box_inner_verification {
  margin-bottom: 30px;
  width: 180px;
}

.verification_code_box {
  margin-left: 10px;
  width: 110px;
  height: 31px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 5px;
  border-color: rgba(220, 222, 226, 1);
  cursor: pointer;
}

.center_box {
  text-align: center;
}
