<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.cat.mapper.BlogTagMapper">
    <insert id="insertTagByIgnoreIfExistTagName" useGeneratedKeys="true" keyProperty="id" parameterType="BlogTag">
        INSERT IGNORE INTO `blog_tag`
        VALUES (NULL, #{btTagName}, #{btTagColor}, NOW(), NULL, #{btCreator}, NULL, NULL)
        ON DUPLICATE KEY UPDATE `bt_tag_color`= #{btTagColor}
    </insert>

    <select id="selectTagsByArticleId" resultType="BlogTag">
        SELECT
            *
        FROM
            blog_tag A
            LEFT JOIN blog_article_tag B ON A.id = B.bat_blog_tag_id
        WHERE
            B.bat_blog_article_id = #{blogArticleId}
    </select>
</mapper>
